{{!< main}}
{{! extiende de main.hbs }}

<h2>RealTimeProducts</h2>

<ul id="lista-productos">
    {{#each productos}}
        <li data-id="{{this.id}}">{{this.title}}
            - ${{this.price}}
            - Stock:
             <span id="stock-{{this.id}}">{{this.stock}}</span>
            <button onclick="agregarAlCarrito({{this.id}})">Comprar</button>

    {{/each}}
</ul>

<a href="/" class="btn-volver">Volver a Inicio</a>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/RealTimeProducts.js"></script>